@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

/* .App {
  text-align: center;
} */

.shadow {
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}
